* {
    margin: 0;
    padding: 0;
   
}
body {

    background-color: #1E1E2C;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
.container{
    
    background-color: #2D2D44;
    border-radius: 10px;
    padding: 10px;
}
.container div h3{
    margin: 10px ;
    text-align: center;
}
.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container form fieldset{
    margin: 10px;
}
.container form fieldset div{
    margin: 5px ;
}
.container form input[type=text]{
    margin: 10px;
    border: none;
    width: 90%;
    height: 25px;
}
.container form input[type=submit]{

    background-color: #F7444E;
    color: #EEEE;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;

}
.container form h4{
    color: #EEEE;
    margin: 15px;
}
h3, h1, h4, h2,  label, p {
    color: #EEEE;


}